*{margin:0;padding:0;text-decoration:none;user-select: none;}
@font-face {font-family: "Muli"; src: url("fonts/Muli.ttf");}
@font-face {font-family: "Pizza"; src: url("fonts/pizza.ttf");}
@font-face {font-family: "Pizza2"; src: url("fonts/pizza2.ttf");}
.margin0{
    margin:0px;
}
.ingrediente input {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.new-new {
    background-image: url(../imgs/new-gif.gif);
    width: 38px;
    height: 25px;
    align-self: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 5px;
}
.coronita {
    background-image: url(../imgs/coronita.png);
    width: 25px;
    height: 25px;
    align-self: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 5px;
}
#f_pizza1{
    display: none;
    position: absolute;
    top: 430px;
    left: 0;
    font-size: 37px;
    color: white;
}
#f_pizza2{
    display: none;
    position: absolute;
    top: 430px;
    left: 0;
    font-size: 37px;
    color: white;
}
#f_pizza3{
    display: none;
    position: absolute;
    top: 430px;
    left: 0;
    font-size: 37px;
    color: white;
}
#f_pizza4{
    display: none;
    position: absolute;
    top: 430px;
    left: 0;
    font-size: 37px;
    color: white;
}
.ingredientes_check{
    display: flex;
    word-break: break-word;
}
.ingrediente p{
    margin-right: 5px;
}

.time_to_wait{
    text-align: center;
    width: 300px;
}
.ingredientes_disponibles {
    align-items: center;
    font-size: 19px;
    background: rgb(0,0,0, 0.8);
    padding: 10px 0px 10px 15px;
    border-radius: 10px;
    color: white;
    margin: 10px;
}
.ingredientes_display{
    word-break: break-word;
}
.ti_contact{
    font-weight: bold;
}
.order_list{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.welcomehome_signup{
    width: 91%;
    align-self: center;
}
.reservar_whatsapp {
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    text-align: center;
    background: #ec773f;
    color: white;
    margin-top: 8px;
    user-select: none;
    cursor: pointer;
    width: 100%;
    justify-content: center;
    padding: 5px;
}
#realizar_order{
    margin-bottom: 30px;
    background: rgb(255, 0, 0);
    font-family: "Muli";
    padding: 5px;
    border: 1.1px solid black;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}
footer {
    background: orangered;
    text-align: center;
    color: white;
    font-family: "Muli";
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0px;
    padding: 10px 0px 10px 0px;
}
.button_order{
    /* margin-bottom: 30px; */
    margin: 20px;
    background: rgb(255, 0, 0);
    font-family: "Muli";
    padding: 5px;
    border: 1.1px solid black;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

.confirm_step1 {
    display: none;
    font-family: "Muli";
    z-index: 1;
    flex-direction: column;
    background: black;
    color: white;
    align-items: center;
    margin-top: 130px;
    margin-bottom: 30px;
    width: auto;
    padding: 20px;
    border-radius: 10px;
}
.confirm_step2 {
    background-position: right;
    display: none;
    font-family: "Muli";
    z-index: 1;
    flex-direction: column;
    background: black;
    color:white;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 30px;
    width: auto;
    padding: 20px;
    border-radius: 10px;
}
#confirm_order{
    margin-bottom: 30px;
    background: rgb(255, 0, 0);
    font-family: "Muli";
    padding: 5px;
    border: 1.1px solid black;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}
.nocursor{
    cursor: default;
}

.hidden{
    display: none;
}
.pedido_title{
    font-size: 20px;
}
.close{
    cursor: pointer;
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin-right: 10px;
    margin-top: 5px;
}
.closex {
    cursor: pointer;
    display: flex;
    position: relative;
    align-items: center;
}

.close i{
    margin-left: 8px;
    margin-top: 3px;
}
.pedido_step{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*width: -webkit-fill-available;*/
}
.datos_step{
    display: none;
    flex-direction: column;
    width: -webkit-fill-available;
    padding: 22px;
}
.first_step_datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*width: -webkit-fill-available;*/
}
.checkout_box {
    font-family: "Muli";
    border-radius: 10px;
    display: none;
    position: inherit;
    border: solid 2px black;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    width: auto;
    padding: 30px;
    margin-top: 80px;
    margin-bottom: 80px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.delete_item{
    background: red;
    padding: 10px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
#order_box{
    display: flex;
    flex-direction: column;
    align-items: center;

}
#order_box textarea{
    resize: none;
    min-height: 79px;
}
#hamburguesa_all {
    flex-direction: column;
}
.img_type_hamburger-new {
    background-image: url(../imgs/hamburger.png);
    width: 98px;
    height: 50px;
    align-self: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: row;
    /* width: 200px; */
    justify-content: center;
}
.new-hamburguer{
    background-image: url(../imgs/new-gif.gif);
    width: 40px;
    height: 25px;
    align-self: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 47px;
}
.check_input{
    width: 300px;
    margin-bottom: 10px;
    text-align-last: center;
    font-size: 16px;
    text-align: center;
    padding: 5px 0px 5px 0px;
    font-family: inherit;
    border-radius: 8px;
    border-style: none;
    border: 1px solid black;
}
.pedido {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    text-align: center;
    color: black;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: white;
}
#login, #loginopen{
    display: none;
}
.carrito{
    padding: 0px 5px 0px 5px;
    color: white;
    margin: 2px;
    user-select: none;
    cursor: pointer;
    background: red;
    border-radius: 10px;
}
#contador_carrito{
    font-size: 20px;
    font-weight: 900;
}
.ingrediente {
    display: flex;
    font-size: 20px;
    padding: 10px;
    align-items: center;
    /* margin-right: 30px; */
    width: 311px;
}
.ingrediente a{
    width: 20px;
    height: 20px;
}

.description_pizza{
    font-size: 11px;
    text-align: center;
}
.ingredientes {
    background: rgba(0,0,0,0.9);
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
    width: 63vw;
    height: auto;
    border-radius: 10px;
}

#login_pedir_comida{
    background-color: #f70505;
    border-radius: 8px;
    padding: 8px;
    border: none;
}

#login_pedir_comida i{
    margin-right:10px;
}
.hide{
    visibility: hidden;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.title_pizzas {
    font-size: 26px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    width: fit-content;
    background: linear-gradient(rgba(0, 0, 0, 1.0), rgba(0, 0, 0, 0.7));
}
.img_type_pizza{
    background-image: url(../imgs/pizza.png);
    width: 50px;
    height: 50px;
    align-self: center;
    background-repeat: no-repeat;
    background-size: contain;
}
/*.img_type_hotdog{
    background-image: url(../imgs/hotdog.png);
    width: 50px;
    height: 50px;
    align-self: center;
    background-repeat: no-repeat;
    background-size: contain;
}*/
.img_type_hamburger{
    background-image: url(../imgs/hamburger.png);
    width: 50px;
    height: 50px;
    align-self: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.type_of_pizza {
    padding: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    width: 209px;
    border-radius: 50%;
    border: 1px solid red;
}
.type_of_pizza:hover{
    background: rgba(0, 0, 0, 0.9);
}
.type_of_pizza_select{
    height: 209px;
    justify-content: center;
}
.types_of_pizzas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.types_of_pizzas_m{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.add_to_buy {
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    align-items: center;
    cursor: pointer;
    user-select: none;
}
.add_to_buy i {
    margin-right: 20px;
}
.n_m_wait{
    display: flex;
}
.contador_in_number{
    margin-right: 5px;
}
.contador_in {
    display: flex;
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    margin-bottom: 15px;
}
.back_pizzas {
    background: rgba(0,0,0, 0.7);
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    width: 91%;
    padding: 5px;
}
.waiting_order {
    width: 66%;
    display: flex;
    align-items: center;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 62%, rgba(0,0,0,1) 35%, rgba(19,61,70,1) 100%);
    flex-direction: column;
    margin: 0px;
    margin-bottom: 15px;
}
.plistup{
    display: flex;
}
.plistdown{
    display: flex;
}

.out_pizza{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pizza_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    color: white;
    margin-top: 20px;
    margin-bottom: 40px;
}
.contact_form div i{
    width: 10px;
    padding:10px;
}
.submit_default {
    text-align: center;
    cursor: pointer;
    background: rgb(236, 119, 63);
    font-family: "Muli";
    padding: 5px;
    border: 1.1px solid #f70e0e;
    border-radius: 3px;
    margin-bottom: 25px;
    color: white;
    width: 300px;
    font-size: 17px;
    margin-top: 10px;
}
    .facebook_section {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: white;
        margin-bottom: 56px;
        border-radius: 5px;
        width: auto;
    }
.facebook_section iframe{
    width:300px!important;
    left:0!important;
    position:relative!important;
    max-width:100%;
}
.comentarios_fb {
    font-size: 24px;
    font-weight: bold;
    font-family: "Muli";
}

main{
    z-index: 100;
    position: fixed;
    font-family: "Muli";
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    align-items: center;
    background: rgb(236, 119, 63);
}
.contact_form p{
    padding:10px
}
.comment_box{
    word-wrap: break-word;
    width: 300px;
    padding: 5px;
    font-size: 17px;
    overflow: hidden;
    font-family: inherit;
    min-height: 200px;
    height: auto;
    border-radius: 5px;
    resize: none;
    border: 1px solid black;
}
.contact_input{
    width: 300px;
    font-size: 16px;
    padding: 5px;
    
    font-family: inherit;
    border-radius: 4px;
    border-style: none;
    border: 1px solid black;
}
.div_welcome_home {
    font-family: "Muli";
    padding-top: 50px;
    width: 100%;
    /* background-attachment: fixed; */
    background-size: inherit;
    background-position-x: center;
    flex-direction: column;
    display: flex;
    background-image: url(../imgs/background_start3.jpg);
}
.class_background {
    background-size: cover;
    background-attachment: fixed;
    background-image: url(../imgs/background_start3.jpg);
}

.text_welcome_home{
    background: rgba(0, 0, 0, 0.9);
    padding: 10px;
    border-radius: 10px 0px 0px 0px;
    color: white;

}
.price_pizza {
    display: flex;
    /* margin: 11px; */
    flex-direction: column;
    align-items: center;
}
.price_pizza .price {
    /* padding: 5px; */
    font-size: 31px;
    /* background: #2cc72c; */
    border-radius: 10px 0px 0px 10px;
}
.price_pizza .dcto {
    font-size: 12px;
    padding: 5px;
    background: #ec773f;
    border-radius: 10px;
    font-weight: bold;
    color: black;
}
.text_welcome_signup {
    width: 88%;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    margin-top: 25px;
    border-radius: 10px;
    align-self: center;
    color: white;
}
.text_welcome_about{
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px 0px 0px 0px;
    color: white;

}
.text_welcome_about img{
    width: 300px;
    border-style: solid;
    float: left;
    margin-top: 10px;
    margin-bottom: 6px;
    margin-right: 20px;
}
.text_welcome_home img{
    width: 300px;
    border-style: solid;
    float: left;
    margin-top: 10px;
    margin-bottom: 6px;
    margin-right: 20px;
}
.home_laterales{
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    align-self: center;
}
.about_laterales{
    margin-top: 30px;
    display: flex;
    flex-direction: row-reverse;
    width: 750px;
    align-self: center;
}
.p_welcomehome {
    background: white;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    align-items: center;
    flex-direction: column;
    display: flex;
    border-radius: 10px;
}
.signup_laterales{
    display: flex;
    flex-direction: column;
    width: 750px;
    align-self: center;
}
.signup_web{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home_section_right{
    flex:4;
}
.about_section_left{
    flex:4;
}
.home_img1 {
    width: 341px;
    border-radius: 0px 10px 10px 0px;
    float: left;
    margin-top: 0px;
}
.contact_form{
    width: 70%;
    background: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Muli";
    padding-top: 20px;

}
.signup_web .contact_form{
    width: 95%;
    background: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: "Muli";
    padding-top: 20px;
    border-radius: 15px;
    border: 2px solid black;
}
.contact_form div{
    width: 100%;
    display: flex;
    justify-content: center;
}
.div_welcome_home .title_welcome_home{
    
    text-align: center;
    padding-bottom: 10px;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
.title_welcome_signup{
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 10px;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}
main p{
    
    color: white;
}
main .login_main .input_login{
    margin-left: 20px;
    font-family: "Muli";
    border-radius: 5px;
}
.p_text_about{
    background: white;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
}
.home_menu_button{
    padding: 1px;
    color: white;
    margin: 2px;
    cursor: pointer;
}
.button_login{
    cursor: pointer;
    background: rgb(255, 0, 0);
    font-family: "Muli";
    padding: 5px;
    height: 33px;
    border: 1.1px solid black;
    border-radius: 3px;
    color: white;
    margin-left: 10px;
}
.login_main{
    display: flex;
}
.menu{
    display: flex;
    margin-right: 20px;
    align-items: center;
}



@media only screen and (max-width: 1150px){
    
    
    .types_of_pizzas {
        flex-wrap: wrap;
    }
}
@media only screen and (max-width: 900px){
    .types_of_pizzas{
        flex-direction: column;
    }
    .plistup{
        display: initial;
    }
    .plistdown{
        display: initial;
    }
    .confirm_step2 {
        display: none;
        font-family: "Muli";
        z-index: 1;
        flex-direction: column;
        background: black;
        color: white;
        align-items: center;
        margin-top: 70px;
        margin-bottom: 30px;
        width: 85%;
        padding: 20px;
        border-radius: 10px;
    }
}

@media only screen and (max-width: 1000px) {
    footer{
        font-size: 14px;
    }
    .signup_web div .contact_input{
        margin-left: 30px;
    }
    .p_welcomehome {
        background: white;
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
        align-items: center;
        flex-direction: column;
        display: flex;
        border-radius: 10px;
    }
    .reservar_whatsapp{
        text-align: center;
    cursor: pointer;
    background: rgb(236, 119, 63);
    font-family: "Muli";
    padding: 5px;
    border: 1.1px solid #f70e0e;
    border-radius: 3px;
    margin-bottom: 25px;
    color: white;
    width: auto;
    font-size: 17px;
    margin-top: 10px;
    }
    .title_pizzas {
        text-align: center;
        font-size: 20px;
    }
    .text_welcome_about img {
        width: 100%;
        border-style: solid;
        float: left;
        margin-top: 10px;
        margin-bottom: 6px;
        margin-right: 20px;
    }
    .ingrediente input{
        width: 30px;
        height: 30px;
        margin: 10px;
    }

    .ingrediente {
        display: flex;
        font-size: 20px;
        padding: 10px;
        /* justify-content: center; */
        align-items: center;
        margin-right: 0px;
    }
    .title_pizzas{
        text-align: center;
    }
    .checkout_box{
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        width: 79%;

    }
    .ingredientes{
        background: rgba(0,0,0,0.9);
        padding: 10px;
        margin: 10px;
        flex-wrap: wrap;
        flex-direction: column;
        display: flex;
        width: 600px;
        height: 350px;
        border-radius: 10px;
        width: auto;
        height: auto;
    }
    #login, #loginopen{
        display: flex;
        margin:auto;
    }
    #loginopen{
        visibility: hidden;
        
    }
    #last_b{
        visibility: hidden;
    }
    .types_of_pizzas {
        flex-wrap: wrap;
    }

    .login_main{
        visibility: hidden;
        flex-direction: column;
    }
    main{
        flex-direction: column;
        }
    .div_welcome_home{
        padding-top: 77px;
    }
    .text_welcome_home{
        overflow-wrap: break-word;
        border-radius: 10px;
    }
    .home_section_left{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact_form{
        width: 90%;
    }
    .button_login{
        margin-right: 0px;
        margin-left: 0;
    }
    
    main .login_main .input_login {
        width: 70vw;
        height: 33px;
        font-size: 19px;
        margin-top: 10px;
        margin-left: 0px;
        margin-bottom: 2px;
    }
    .hide{
        visibility: hidden;
    }
    .title_welcome_home{
        font-size: 24px;
    }
    .title_welcome_signup{
        font-size: 23px;
    }
    .signup_laterales{
        width: 100%;
    }
    .about_laterales{
        width: 90%;
    }
    .signup_web{
        width: 100%;

    }
    .pizza_box {
        font-size: 23px;
        padding-top: 15px;
    }
    .checkout_list {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 23px;
        margin-bottom: 23px;
    }
    .pedido{
        display: flex;
        flex-direction: column;
        text-align: center;
        color: black;
        padding: 10px;
        border-radius: 10px;
        width: 90%;
        margin-top: 10px;
        margin-bottom: 10px;
        background: white;
    }

  }

  @media only screen and (max-width: 400px){

    .title_welcome_signup {
        font-size: 20px;
    }
    #f_pizza1 {
        display: flex;
        position: absolute;
        top: 375px;
        left: 0;
        font-size: 37px;
        color: white;
    }
    #f_pizza2 {
        display: flex;
        position: absolute;
        top: 659px;
        left: 0;
        font-size: 37px;
        color: white;
    }
    #f_pizza3 {
        display: flex;
        position: absolute;
        top: 946px;
        left: 0;
        font-size: 37px;
        color: white;
    }
    #f_pizza4 {
        display: flex;
        position: absolute;
        top: 1226px;
        left: 0;
        font-size: 37px;
        color: white;
    }
    .waiting_order{
        font-size: 16px;
        width: 76%;
    }
    .submit_default{
        cursor: pointer;
        background: rgb(236, 119, 63);
        font-family: "Muli";
        padding: 5px;
        font-size: 21px;
        border: 1.1px solid black;
        border-radius: 3px;
        margin-bottom: 25px;
        width: 82%;
        color: white;
        margin-top: 25px;
    }
    .reservar_whatsapp{

        width: 100%;
    }


}
