<div class='div_welcome_home' id="div_welcome_home">

   <div class="home_section_top_center">
       <h1 class="title_welcome_home">Breve historia</h1>
   </div>
   <div class="about_laterales">


       <div class="about_section_left" id="home_section_left">

           <p class="text_welcome_about">
               <img src={{url_for('static', filename='imgs/pizza.jpg')}} />
               Pizzeria Sosa esta ubicada en placeres, valparaiso, a pasos de la universidad
               federico santa maría, y a pasos de portales.
               Las pizzas son 100% artesanales, hechas con amor para el publico,
               el horario de atención por lo general es de 13:00 a 21:00.
               La idea de reservar por la pagina es para ahorrarme tiempo, ahorrarles dinero
               a ustedes con descuentos, cupones, sorteos, premios y mucho mas, si aun no estas
               registrado, te recomiendo lo hagas, cada tanto mando cupones de descuento vía mail
               haré sorteos en el canal de youtube de la pizzeria.
               Cualquier duda a mi whatsapp +56992157052 o al email: pizzeriasosacl@gmail.com
           </p>
           <hr class="hr_home">
           <p class="p_text_about">haz click en el boton "Reservar" de aqui abajo para reservar tu pedido via whatsapp
               <a id="reservar_whatsapp" class="btn btn-primary btn-lg"
                   href="https://api.whatsapp.com/send?phone=+56992157052" role="button">Reservar</a></p>

       </div>



   </div>


</div>