<div class="pedido_title">Ingrese sus datos:</div>
<div>Ingrese su nombre:</div>
<input id="nombre_cliente" class="check_input" type="text" placeholder="Ingrese su nombre">
<div>Seleccione su localidad:</div>
<select id="Localidad" class="check_input" name='Localidad'>
    <option value='viña del mar'>Viña del Mar</option> 
    <option value='valparaiso' selected>Valparaiso</option>
</select>
<div>Ingrese su domicilio:</div>
<input id="direccion_order" class="check_input" type="text" placeholder="Ingrese su direccion">
<div>Ingrese un telefono de contacto:</div>
<input id="telefono_order" class="check_input" type="text" placeholder="Ingrese su numero telefonico">
<div>Seleccione un metodo de pago:</div>
<select id="FormaDePago" class="check_input" name='FormaDePago'>
    <option value='efectivo'>Efectivo</option> 
    <option value='transferencia' selected>Transferencia</option>
</select>
<div>Algun comentario sobre tu pedido:</div>
<textarea id="comment_order" class="check_input" placeholder="Ejemplos:'agregale un poco de oregano' 'vuelto de 10.000' 'pago justo'"></textarea>