<div class='div_welcome_home' id="div_welcome_home">

    <div class="home_section_top_center">
        <h1 class="title_welcome_home">Bienvenido a Pizzeria Sosa</h1>
    </div>
    <div class="pizza_box">

        <p class="title_pizzas">Seleccione todo lo que quiera llevar</p>
        <div class="contador_in">
            <div>TOTAL: $</div>
            <div class="contador_in_number" id="contador_buy">0</div>
        </div>
        <div class="types_of_pizzas">
            <div class="plistup">
            <div class="out_pizza">
                <div id="hamburguesa" class="type_of_pizza">
                    <p>Hamburguesa</p>
                    <div class="img_type_hamburger-new"><div class="new-hamburguer"></div></div>
                    <div class="price_pizza">
                        <div class="price">$1620</div>
                        <div class="dcto">7%DCTO</div>
                        
                    </div>
                    <div class="add_pizza">Seleccionar</div>
                    <div id="description_hamburguesa" class="description_pizza"></div>
                </div>
                <div id="add_back_hamburguesa" class="back_pizzas">Volver</div>
            </div>
            <div id="hamburguesa_all" class="add_to_pizza">
                <div class="ingredientes_disponibles">Los ingredientes disponibles son:</div>
                <div id="hamburguesa_" class="ingredientes">
                    <div class="ingrediente palta_">
                        <input class="Palta" id="Palta_hot" type="checkbox">
                        <p>Palta</p>
                        <div class="price_pizza">$590</div>
                    </div>
                    <div class="ingrediente tomate_">
                        <input class="Tomate" id="Tomate_hot" type="checkbox">
                        <p>Tomate</p>
                        <div class="price_pizza">$190</div>
                    </div>
                    <div class="ingrediente cebolla_">
                        <input class="Cebolla" id="Cebolla_hot" type="checkbox">
                        <p>Cebolla caramelizada</p>
                        <div class="price_pizza">$390</div>
                    </div>
                    <div class="ingrediente tocino_">
                        <input class="Tocino" id="Tocino_hot" type="checkbox">
                        <p>Tocino</p>
                        <div class="price_pizza">$490</div>
                    </div>
                    <div class="ingrediente pepinillos_">
                        <input class="Pepinillos" id="Pepinillos_hot" type="checkbox">
                        <p>Pepinillos</p>
                        <div class="price_pizza">$290</div>
                    </div>
                    <div class="ingrediente queso_">
                        <input class="muzza" id="Queso_hot" type="checkbox">
                        <p>Queso derretido</p>
                        <div class="price_pizza">$290</div>
                    </div>
                    <div class="ingrediente queso_cheddar_">
                        <input class="cheddar" id="Queso_cheddar" type="checkbox">
                        <p>Queso Cheddar</p>
                        <div class="price_pizza">$290</div>
                    </div>
                    <div class="ingrediente huevo_">
                        <input class="Huevo" id="Huevo" type="checkbox">
                        <p>Huevo frito</p>
                        <div class="price_pizza">$290</div>
                    </div>
                    <div class="ingrediente mayonesa_">
                        <input class="Mayonesa" id="Mayonesa" type="checkbox">
                        <p>Mayonesa normal</p>
                        <div class="price_pizza">$0</div>
                    </div>
                    <div class="ingrediente salsapremium_">
                        <input class="SalsaPremium" id="SalsaPremium" type="checkbox">
                        <p>Salsa Premium<div class='coronita'></div></p>
                        <div class="price_pizza">$0</div>
                    </div>
                    <div class="ingrediente ketchup_">
                        <input class="Ketchup" id="Ketchup" type="checkbox">
                        <p>Ketchup</p>
                        <div class="price_pizza">$0</div>
                    </div>
                    <div class="ingrediente mostaza_">
                        <input class="Mostaza" id="Mostaza" type="checkbox">
                        <p>Mostaza</p>
                        <div class="price_pizza">$0</div>
                    </div>
                </div>
                <div id="add_hamburguesa" class="add_to_buy"><i class="fas fa-shopping-cart"></i>Agregar al carrito</div>
            </div>
        </div>
        </div>
        <div class="types_of_pizzas">
            <div class="plistup">
                <div class="out_pizza">
                    <div id="pizza1" class="type_of_pizza">
                        <p>Pizza Individual</p>
                        <div id="img_pizza_1" class="img_type_pizza"></div>
                        <div class="price_pizza">
                            <div class="price">$699</div>
                            <div class="dcto">10%DCTO</div>
                        </div>
                        <div class="add_pizza">Seleccionar</div>
                        <div id="description_individual" class="description_pizza"></div>
                    </div>
                    <div id="add_back_pizzas1" class="back_pizzas">Volver</div>
                </div>
                <div id="individual_all" class="add_to_pizza">
                    <div class="ingredientes_disponibles">Los ingredientes disponibles son:</div>
                    <div id="individual" class="ingredientes">
                        <div class="ingrediente muzzarella_">
                            <input class="muzza" id="Muzzarella" type="checkbox">
                            <p>Muzzarella</p>
                            <div class="price_pizza">$490</div>
                        </div>
                        <div class="ingrediente jamon_">
                            <input id="Jamon" type="checkbox">
                            <p>Jamon</p>
                            <div class="price_pizza">$490</div>
                        </div>
                        <div class="ingrediente salame_">
                            <input id="Salame" type="checkbox">
                            <p>Salame</p>
                            <div class="price_pizza">$490</div>
                        </div>
                        <div class="ingrediente pepperoni_">
                            <input id="Pepperoni" type="checkbox">
                            <p>Pepperoni</p>
                            <div class="price_pizza">$490</div>
                        </div>
                        <div class="ingrediente tomate_">
                            <input id="Tomate" type="checkbox">
                            <p>Tomate</p>
                            <div class="price_pizza">$390</div>
                        </div>
                        <div class="ingrediente cebolla_">
                            <input id="Cebolla" type="checkbox">
                            <p>Cebolla</p>
                            <div class="price_pizza">$390</div>
                        </div>
                        <div class="ingrediente choclo_">
                            <input id="Choclo" type="checkbox">
                            <p>Choclo</p>
                            <div class="price_pizza">$390</div>
                            <div class="new-new"></div>
                        </div>
                        <div class="ingrediente palta_">
                            <input id="Palta" type="checkbox">
                            <p>Palta</p>
                            <div class="price_pizza">$990</div>
                            <div class="new-new"></div>
                        </div>
                        <div class="ingrediente aceitunas_negras_">
                            <input id="Aceitunas_negras" type="checkbox">
                            <p>Aceitunas negras</p>
                            <div class="price_pizza">$390</div>
                        </div>
                        <div class="ingrediente aceitunas_verdes_">
                            <input id="Aceitunas_verdes" type="checkbox">
                            <p>Aceitunas verdes</p>
                            <div class="price_pizza">$390</div>
                        </div>
                        <div class="ingrediente pimenton_rojo_">
                            <input id="Pimenton_rojo" type="checkbox">
                            <p>Pimenton rojo</p>
                            <div class="price_pizza">$390</div>
                        </div>
                        <div class="ingrediente pimenton_verde_">
                            <input id="Pimenton_verde" type="checkbox">
                            <p>Pimenton verde</p>
                            <div class="price_pizza">$390</div>
                        </div>
                        <div class="ingrediente camarones_">
                            <input id="Camarones" type="checkbox">
                            <p>Camarones</p>
                            <div class="price_pizza">$990</div>
                        </div>

                        <div class="ingrediente champiñones_">
                            <input id="Champiñones" type="checkbox">
                            <p>Champiñones</p>
                            <div class="price_pizza">$390</div>
                        </div>
                    </div>
                    <div id="add_individual" class="add_to_buy"><i class="fas fa-shopping-cart"></i>Agregar al carrito</div>

                </div>
                <div class="out_pizza">
                    <div id="pizza2" class="type_of_pizza">
                        <p>Pizza Mediana</p>
                        <div id="img_pizza_2" class="img_type_pizza"></div>
                        <div class="price_pizza">
                            <div class="price">$2990</div>
                            <div class="dcto">8%DCTO</div>
                        </div>
                        <div class="add_pizza">Seleccionar</div>
                        <div id="description_mediana" class="description_pizza"></div>
                    </div>
                    <div id="add_back_pizzas2" class="back_pizzas">Volver</div>
                </div>

                <div id="mediana_all" class="add_to_pizza">
                    <div class="ingredientes_disponibles">Los ingredientes disponibles son:</div>
                    <div id="mediana" class="ingredientes">
                        <div class="ingrediente muzzarella_">
                            <input class="muzza" id="Muzzarella" type="checkbox">
                            <p>Muzzarella</p>
                            <div class="price_pizza">$490</div>
                        </div>
                        <div class="ingrediente jamon_">
                            <input id="Jamon" type="checkbox">
                            <p>Jamon</p>
                            <div class="price_pizza">$490</div>
                        </div>
                        <div class="ingrediente salame_">
                            <input id="Salame" type="checkbox">
                            <p>Salame</p>
                            <div class="price_pizza">$490</div>
                        </div>
                        <div class="ingrediente pepperoni_">
                            <input id="Pepperoni" type="checkbox">
                            <p>Pepperoni</p>
                            <div class="price_pizza">$490</div>
                        </div>
                        <div class="ingrediente tomate_">
                            <input id="Tomate" type="checkbox">
                            <p>Tomate</p>
                            <div class="price_pizza">$490</div>
                        </div>
                        <div class="ingrediente cebolla_">
                            <input id="Cebolla" type="checkbox">
                            <p>Cebolla</p>
                            <div class="price_pizza">$390</div>
                        </div>
                        <div class="ingrediente choclo_">
                            <input id="Choclo" type="checkbox">
                            <p>Choclo</p>
                            <div class="price_pizza">$390</div>
                            <div class="new-new"></div>
                        </div>
                        <div class="ingrediente palta_">
                            <input id="Palta" type="checkbox">
                            <p>Palta</p>
                            <div class="price_pizza">$990</div>
                            <div class="new-new"></div>
                        </div>
                        <div class="ingrediente aceitunas_negras_">
                            <input id="Aceitunas_negras" type="checkbox">
                            <p>Aceitunas negras</p>
                            <div class="price_pizza">$390</div>
                        </div>
                        <div class="ingrediente aceitunas_verdes_">
                            <input id="Aceitunas_verdes" type="checkbox">
                            <p>Aceitunas verdes</p>
                            <div class="price_pizza">$390</div>
                        </div>
                        <div class="ingrediente pimenton_rojo_">
                            <input id="Pimenton_rojo" type="checkbox">
                            <p>Pimenton rojo</p>
                            <div class="price_pizza">$390</div>
                        </div>
                        <div class="ingrediente pimenton_verde_">
                            <input id="Pimenton_verde" type="checkbox">
                            <p>Pimenton verde</p>
                            <div class="price_pizza">$390</div>
                        </div>
                        <div class="ingrediente camarones_">
                            <input id="Camarones" type="checkbox">
                            <p>Camarones</p>
                            <div class="price_pizza">$990</div>
                        </div>
                        <div class="ingrediente champiñones_">
                            <input id="Champiñones" type="checkbox">
                            <p>Champiñones</p>
                            <div class="price_pizza">$390</div>
                        </div>
                    </div>
                    <div id="add_mediana" class="add_to_buy"><i class="fas fa-shopping-cart"></i>Agregar al carrito</div>
                </div>
            </div>
            <div class="plistdown">
                <div class="out_pizza">
                    <div id="pizza3" class="type_of_pizza">
                        <p>Pizza Familiar</p>
                        <div id="img_pizza_3" class="img_type_pizza"></div>
                        <div class="price_pizza">
                            <div class="price">$4990</div>
                            <div class="dcto">10%DCTO</div>
                        </div>
                        <div class="add_pizza">Seleccionar</div>
                        <div id="description_familiar" class="description_pizza"></div>
                    </div>
                    <div id="add_back_pizzas3" class="back_pizzas">Volver</div>
                </div>
                <div id="familiar_all" class="add_to_pizza">
                    <div class="ingredientes_disponibles">Los ingredientes disponibles son:</div>
                    <div id="familiar" class="ingredientes">
                        <div class="ingrediente muzzarella_">
                            <input class="muzza" id="Muzzarella" type="checkbox">
                            <p>Muzzarella</p>
                            <div class="price_pizza">$490</div>
                        </div>
                        <div class="ingrediente jamon_">
                            <input id="Jamon" type="checkbox">
                            <p>Jamon</p>
                            <div class="price_pizza">$490</div>
                        </div>
                        <div class="ingrediente salame_">
                            <input id="Salame" type="checkbox">
                            <p>Salame</p>
                            <div class="price_pizza">$490</div>
                        </div>
                        <div class="ingrediente pepperoni_">
                            <input id="Pepperoni" type="checkbox">
                            <p>Pepperoni</p>
                            <div class="price_pizza">$490</div>
                        </div>
                        <div class="ingrediente tomate_">
                            <input id="Tomate" type="checkbox">
                            <p>Tomate</p>
                            <div class="price_pizza">$390</div>
                        </div>
                        <div class="ingrediente cebolla_">
                            <input id="Cebolla" type="checkbox">
                            <p>Cebolla</p>
                            <div class="price_pizza">$390</div>
                        </div>
                        <div class="ingrediente choclo_">
                            <input id="Choclo" type="checkbox">
                            <p>Choclo</p>
                            <div class="price_pizza">$390</div>
                            <div class="new-new"></div>
                        </div>
                        <div class="ingrediente palta_">
                            <input id="Palta" type="checkbox">
                            <p>Palta</p>
                            <div class="price_pizza">$990</div>
                            <div class="new-new"></div>
                        </div>
                        <div class="ingrediente aceitunas_negras_">
                            <input id="Aceitunas_negras" type="checkbox">
                            <p>Aceitunas negras</p>
                            <div class="price_pizza">$390</div>
                        </div>
                        <div class="ingrediente aceitunas_verdes_">
                            <input id="Aceitunas_verdes" type="checkbox">
                            <p>Aceitunas verdes</p>
                            <div class="price_pizza">$390</div>
                        </div>
                        <div class="ingrediente pimenton_rojo_">
                            <input id="Pimenton_rojo" type="checkbox">
                            <p>Pimenton rojo</p>
                            <div class="price_pizza">$390</div>
                        </div>
                        <div class="ingrediente pimenton_verde_">
                            <input id="Pimenton_verde" type="checkbox">
                            <p>Pimenton verde</p>
                            <div class="price_pizza">$390</div>
                        </div>
                        <div class="ingrediente camarones_">
                            <input id="Camarones" type="checkbox">
                            <p>Camarones</p>
                            <div class="price_pizza">$990</div>
                        </div>
                        <div class="ingrediente campiñones_">
                            <input id="Champiñones" type="checkbox">
                            <p>Champiñones</p>
                            <div class="price_pizza">$390</div>
                        </div>
                    </div>
                    <div id="add_familiar" class="add_to_buy"><i class="fas fa-shopping-cart"></i>Agregar al carrito</div>
                </div>
                <div class="out_pizza">
                    <div id="pizza4" class="type_of_pizza">
                        <p>Pizza XL</p>
                        <div id="img_pizza_4" class="img_type_pizza"></div>
                        <div class="price_pizza">
                            <div class="price">$6990</div>
                            <div class="dcto">8%DCTO</div>
                        </div>
                        <div class="add_pizza">Seleccionar</div>
                        <div id="description_pizzaxl" class="description_pizza"></div>
                    </div>
                    <div id="add_back_pizzas4" class="back_pizzas">Volver</div>
                </div>
                <div id="xlpizza_all" class="add_to_pizza">
                    <div class="ingredientes_disponibles">Los ingredientes disponibles son:</div>
                    <div id="xlpizza" class="ingredientes">
                        <div class="ingrediente muzzarella_">
                            <input class="muzza" id="Muzzarella" type="checkbox">
                            <p>Muzzarella</p>
                            <div class="price_pizza">$490</div>
                        </div>
                        <div class="ingrediente jamon_">
                            <input id="Jamon" type="checkbox">
                            <p>Jamon</p>
                            <div class="price_pizza">$490</div>
                        </div>
                        <div class="ingrediente salame_">
                            <input id="Salame" type="checkbox">
                            <p>Salame</p>
                            <div class="price_pizza">$490</div>
                        </div>
                        <div class="ingrediente pepperoni_">
                            <input id="Pepperoni" type="checkbox">
                            <p>Pepperoni</p>
                            <div class="price_pizza">$490</div>
                        </div>
                        <div class="ingrediente tomate_">
                            <input id="Tomate" type="checkbox">
                            <p>Tomate</p>
                            <div class="price_pizza">$390</div>
                        </div>
                        <div class="ingrediente cebolla_">
                            <input id="Cebolla" type="checkbox">
                            <p>Cebolla</p>
                            <div class="price_pizza">$390</div>
                        </div>
                        <div class="ingrediente choclo_">
                            <input id="Choclo" type="checkbox">
                            <p>Choclo</p>
                            <div class="price_pizza">$390</div>
                            <div class="new-new"></div>
                        </div>
                        <div class="ingrediente palta_">
                            <input id="Palta" type="checkbox">
                            <p>Palta</p>
                            <div class="price_pizza">$990</div>
                            <div class="new-new"></div>
                        </div>
                        <div class="ingrediente aceitunas_negras_">
                            <input id="Aceitunas_negras" type="checkbox">
                            <p>Aceitunas negras</p>
                            <div class="price_pizza">$390</div>
                        </div>
                        <div class="ingrediente aceitunas_verdes_">
                            <input id="Aceitunas_verdes" type="checkbox">
                            <p>Aceitunas verdes</p>
                            <div class="price_pizza">$390</div>
                        </div>
                        <div class="ingrediente pimenton_rojo_">
                            <input id="Pimenton_rojo" type="checkbox">
                            <p>Pimenton rojo</p>
                            <div class="price_pizza">$390</div>
                        </div>
                        <div class="ingrediente pimenton_verde_">
                            <input id="Pimenton_verde" type="checkbox">
                            <p>Pimenton verde</p>
                            <div class="price_pizza">$390</div>
                        </div>
                        <div class="ingrediente camarones_">
                            <input id="Camarones" type="checkbox">
                            <p>Camarones</p>
                            <div class="price_pizza">$990</div>
                        </div>
                        <div class="ingrediente campiñones_">
                            <input id="Champiñones" type="checkbox">
                            <p>Champiñones</p>
                            <div class="price_pizza">$390</div>
                        </div>
                    </div>
                    <div id="add_pizzaxl" class="add_to_buy"><i class="fas fa-shopping-cart"></i>Agregar al carrito</div>
                </div>
            </div>
        </div>
    </div>
    <div class="home_laterales">


        <div class="home_section_right" id="home_section_right">
            <img class="home_img1" src="{{url_for('static', filename='imgs/pizza.jpg')}}">
        </div>



        <div class="home_section_left" id="home_section_left">

            <p class="text_welcome_home">Nuestra atención es de lunes a sábados,
                de 13:00 a 21:00hs (por toque de queda), obten importantes descuentos
                comprando via web online, el pago se realiza luego de reservar via web,
                aceptamos pago con transferencia a nuestra
                cuenta rut, contestamos únicamente por whatsapp: +56992157052, correo electrónico: pizzeriasosacl@gmail.com,
                o mediante esta web en la sección contacto, mas abajo.</p>

            <p class="p_welcomehome">haz click en el boton "Reservar" de aqui abajo para reservar tu pedidos
                via whatsapp.<br>
                (no obtendras descuentos como en via web online)
                <a class="reservar_whatsapp" id="reservar_whatsapp" class="btn btn-primary btn-lg"
                    href="https://api.whatsapp.com/send?phone=+56992157052" role="button">Reservar via Whatsapp sin
                    descuento</a>
            </p>

        </div>



    </div>
</div>



</div>