<!DOCTYPE html>

<html lang="es">

<head>

    <meta charset="UTF-8">
    
    <meta name="keywords" content="pizzeria sosa, pizzeria placeres, pizzeria esperanza, pizzeria viña del mar, pizzeriasosa, pizzas artesanales"/>
    <meta name="description" content="Pizzeria Sosa es una pizzeria 100% artesanal, ubicada en viña del mar, se hacen envios a domicilio (delivery)"/>
    <meta property="fb:app_id" content="2475847192679341"/>

    <meta name="viewport" content="width=device-width, initial-scale =1.0">

    <link rel="shortcut icon" href="{{url_for('static', filename='imgs/icon_pizza.png')}}">

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}?v=22">

    <script src="{{url_for('static', filename='js/jq.js')}}"></script>

    <script src="{{url_for('static', filename='js/js.cookie.min.js')}}"></script>

    <script src="{{url_for('static', filename='js/food.js')}}?v=13"></script>

    <script src="{{url_for('static', filename='js/routes.js')}}?v=8"></script>

    <script src="{{url_for('static', filename='js/login.js')}}?v=4"></script>

    <script src="{{url_for('static', filename='js/validation.js')}}?v=10"></script>

    <script src="{{url_for('static', filename='js/validation_contact.js')}}?v=9"></script>

    <script src="https://kit.fontawesome.com/b576dc3275.js" crossorigin="anonymous"></script>

    <title>Pizzeria Sosa</title>

</head>

<body onload=init_route()>

    <div id="fb-root"></div>

    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v7.0&appId=2475847192679341&autoLogAppEvents=1" nonce="ynPAf3B8"></script>

    <main>

        <p class="hide" id="login_display_name">Login</p>

        <a id="last_a"class="nocursor home_menu_button">|</a>

        <a href="" id="logout" class="home_menu_button hide">Logout</a>

        <p class="button_login hide" id="login_pedir_comida"><i class="fas fa-pizza-slice"></i>Mi pedido</p>
        <!--<p id="username"></p>-->

        <form id="login_main" class="login_main">

            <input placeholder='@email' id="username" class="input_login">

            <input placeholder='Password' type="password" id="password" class="input_login">

            <input class='button_login' id="login_button" type="button" value="Entrar">

        </form>

        <div id="fb_login" class="fb-login-button" data-width="" data-size="medium" data-button-type="login_with"
            data-layout="default" data-auto-logout-link="false" data-use-continue-as="true"></div>
        <div id="menu" class="menu">
            <a id="loginopen" class="home_menu_button"><i class="fas fa-user fa-lg"></i></a>
            <a id="login" class="home_menu_button"><i class="fas fa-user fa-lg"></i></a>
            <a id="last_a"class="nocursor home_menu_button">|</a>                        
            <a id="about" class="home_menu_button"><i class="fas fa-info-circle fa-lg"></i></a>
            <a class="nocursor home_menu_button">|</a>
            <a id="home" class="home_menu_button">Tienda<i class="fas fa-store fa-lg"></i></a>
            <a class="nocursor home_menu_button">|</a>
            <a id="signup" class="home_menu_button">Registrate</a>
            <div id="carrito" class="carrito">
                <a id="contador_carrito">0</a>
                <i class="fas fa-shopping-cart fa-lg"></i>
            </div>
            
            

            <div id="status">
            </div>
        </div>

    </main>

    <div id="checkout_box" class="checkout_box">

        <div id="close" class="close">Cerrar <i class="fas fa-window-close"></i></div>
        <!--<div id="closex" class="closex">Cerrar <i class="fas fa-window-close"></i></div>-->
            
                <div class="pedido_step">
                    <div class="pedido_title">Su pedido:</div>
                    <div id="checkout_list" class="checkout_list">

                    </div>
                </div>
                <div class="datos_step">    
                    <div id="order_box">
                
                    </div>
                </div>
                <div class="first_step_datos">
            
                    <div class="contador_in"><div>TOTAL: $</div><div class="contador_in_number" id="contador_buy_checkout">0</div></div>

                    <div class="contador_in waiting_order"><div>Tiempo de espera aproximado:</div><div class="n_m_wait"><div class="contador_in_number" id="waiting_order">0</div><div id="type_time">Minutos</div></div></div>

                    <div id="realizar_order">Realizar Pedido</div>

                    <div id="confirm_order">Confirmar Pedido</div>
            
        </div>
    </div>

    <div class="confirm_step1" id="confirm_step1">

        <div id="close_step1" class="close">Cerrar <i class="fas fa-window-close"></i></div>

        <div>¿Desea agregar propina?</div>
        <select id="propina" class="check_input" name='propina'>

            <option value='No'>No</option> 

            <option value='500'>$500</option> 

            <option value='1000' selected>$1000</option>

            <option value='1500'>$1500</option>

            <option value='2000'>$2000</option>

            <option value='3000'>$3000</option>   

        </select>
        <div>¿Desea delivery?</div>
        <select id="delivery" class="check_input" name='delivery'>

            <option value='si' selected>Si, deseo el envío a mi domicilio.</option> 

            <option value='retiro'>No, deseo ir a retirar.</option>

        </select>

        <p>En caso de pedir delivery, el valor del envio no estara incluido en el valor total al final, puede valer solo $990 en sectores como: Esperanza, Recreo y Placeres, en caso de ser fuera de estos sectores, el valor probablemente aumente.</p>

        <div class="button_order" id="finish_order">Completar</div>

    </div>

    <div class="confirm_step2" id="confirm_step2">

        <div id="close_step2" class="close">Cerrar <i class="fas fa-window-close"></i></div>

        <div class="congrats">Felicidades! Su pedido de:</div>

        <div class="order_list" id="order_list">[Lista del pedido]</div>

        <div class="contador_in"><div>TOTAL: $</div><div class="contador_in_number" id="contador_buy_checkout_final">0</div></div>

        <div class="time_to_wait">Su pedido ya se ha realizado con exito!<br>(Si reservo con envio a domicilio, el costo del mismo no esta incluido en el total)<br>En breve lo llamaremos al numero que usted ingreso para confirmar su pedido y estimar el tiempo de espera, cualquier consulta llamar o mandar whatsapp al +56992157052, muchas gracias por preferirnos!<div id="put_time_wait"></div></div>

        <div class="propina_thanks" id="propina_thanks">Ya puede salir del sitio tranquilamente.</div>

        <div class="button_order" id="okay_order">Okay</div>

    </div>

    <div class='div_welcome_home' id="div_welcome_home">

    </div>

    <div class="facebook_section">

        <div class="comentarios_fb">Comentarios:</div>

        <div class="fb-comments" data-href="https://pizzeriasosa.herokuapp.com" data-numposts="5" data-width="auto"></div>

        <div class="fb-like" data-href="https://facebook.com/pizzeriasosa" data-width="auto" data-layout="button"

        data-action="like" data-size="large" data-share="true"></div>

    </div>
    


    <div id='contact_form' class="contact_form">

        <h1 class="title_welcome_home">Contacto</h1>

        <hr class="hr_home">

        <p>Ponte en contacto con nosotros, rellena todos los datos de aqui abajo:</p>

        <p class="ti_contact">Nombre y apellido:</p>

        <input class="contact_input" placeholder="Ingrese su nombre y apellido" id="name_contact_c"><i id="check_name_contact" class="asd"></i>
        <p class="ti_contact">Email:</p>
        <input class="contact_input" placeholder="Ingrese su correo@" id="email_contact_c"><i id="check_email_contact" class="asd"></i>
        <p class="ti_contact">Telefono:</p>
        <input class="contact_input" placeholder="Ingrese su numero +56..." id="phone_contact_c"><i id="check_phone_contact" class="asd"></i>
        <p class="ti_contact">Comentario:</p>
        <textarea class="comment_box" placeholder="Cuentenos, ¿Cual es su consulta?..."
            id="comment_contact_c"></textarea><i id="check_comment_contact" class="asd"></i>
        <input type="button" id="submit_contact"  value="Enviar" class="submit_default">

    </div>

    <audio id="audiosuccess">
        <source src="{{url_for('static', filename='sounds/success_.mp3')}}" type="audio/mpeg">
    </audio>

    <audio id="audiodelete">
        <source src="{{url_for('static', filename='sounds/delete_.mp3')}}" type="audio/mpeg">
    </audio>

    <audio id="audioerror">
        <source src="{{url_for('static', filename='sounds/error.mp3')}}" type="audio/mpeg">
    </audio>

</body>

<footer>Este sitio web fue desarrollado por: MathiasBenigno@gmail.com | version 0.99 </footer>

</html>