<div class="div_welcome_home" id="div_welcome_home">
  <h1 class="title_welcome_signup">Registrate! </h1>
  <h1 class="title_welcome_signup">compra seguro y ahorra dinero</h1>
    <div class="signup_laterales">
    <p class="text_welcome_signup">Registrate para poder realizar tu pedido online mas seguro, obten importantes descuentos en compras via web online, 
      completa los datos y ademas estaras participando de sorteos, premios, puntos, cupones de descuento y mucho mas!
    </p>
    <form id="signup_web" class="signup_web">
      <div id='contact_form' class="contact_form">
        <p class="ti_contact">Nombre y apellido:</p>
        <div><input class="contact_input" placeholder="Ingrese su nombre" id="name_contact"><i id="check_name" class="asd"></i></div>
        <p class="ti_contact">email:</p>
        <div><input class="contact_input" placeholder="Ingrese su correo@" id="email_contact"><i id="check_email" class="asd"></i></div>
        <p class="ti_contact">Telefono:</p>
        <div><input class="contact_input" placeholder="Ingrese su numero +56..." id="phone_contact"><i id="check_phone" class="asd_"></i></div>
        <p class="ti_contact">Contraseña:</p>
        <div><input type="password" class="contact_input" placeholder="Ingrese una contraseña" id="password_contact"><i id="check_password" class="asd_"></i></div>
        <p class="ti_contact">Repita la Contraseña:</p>
        <div><input type="password" class="contact_input" placeholder="Repita la misma contraseña" id="password_contact2"><i id="check_password2" class="asd_"></i></div>
        <input id="submit_signup" type="reset" value="Registrarme" class="submit_default">
    </div>
    </form>
    <p class="p_welcomehome welcomehome_signup">haz click en el boton "Reservar" de aqui abajo para reservar tu pedidos
      via whatsapp.<br>
      (no obtendras descuentos como en via web online)
      <a class="reservar_whatsapp" id="reservar_whatsapp" class="btn btn-primary btn-lg"
          href="https://api.whatsapp.com/send?phone=+56992157052" role="button">Reservar via Whatsapp sin
          descuento</a>
    </p>
  </div>
  </div>